html, body {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100vh;
  }

h1 {
    color: #0000FF;
    font-size: 20px;
    font-family: Times New Roman;
    font-weight: 400;
}

ol {
    color: #000000;
    font-size: 20px;
    font-family: Times New Roman;
    font-weight: 400;
}

p.caption {
    color: #A2A2A2;
    font-size: 20px;
    font-family: Times New Roman;
    font-weight: 400;
}

@media only screen and (max-width: 480px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        width: 95%;
        max-width: 440px;
        margin: 0 auto;
        padding: 0 20px;
        height: 100vh;
      }

      h1 {
        color: #0000FF;
        font-size: 16px;
        font-family: Times New Roman;
        font-weight: 400;
    }
    
    ol {
        color: #000000;
        font-size: 16px;
        font-family: Times New Roman;
        font-weight: 400;
    }
    
    p.caption {
        color: #A2A2A2;
        font-size: 16px;
        font-family: Times New Roman;
        font-weight: 400;
    }
}
