html {
    height: 100%;
}

body {
    height: 90%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    display: flex;
    padding: 40px 40px;
    justify-content: space-between;
    align-items: center;
  }

@font-face {
    font-family: "inter-variable";
    src: url("inter-variable.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}
  
#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 48%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    
}

#products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

#intro-and-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4em;
    align-self: stretch;
}

  

h1 {
    font-family: "inter-variable", sans-serif;
    font-weight: 450;
    font-size: 1em;
    line-height: 1.4em;
    color: #393939;
    margin-bottom: 0;
    padding-bottom: 0;
    letter-spacing: -0.005em;
}

h1 a {
    color: #3583FF;
    text-decoration: none;
    transition: all 0.2s;
}

h1 a:hover {
    opacity: 0.7;
    transition: all 0.1s;
}

ol {
    padding-left: 1.2em;
    margin-left: 0;
    list-style-position: outside;
    font-family: "inter-variable", sans-serif;
    font-weight: 450;
    font-size: 1em;
    line-height: 1.4em;
    color: #393939;
    margin-bottom: 0;
    padding-bottom: 0;
    letter-spacing: -0.005em;
}

.product-item {
    font-family: "inter-variable", sans-serif;
    font-weight: 450;
    font-size: 1em;
    line-height: 1.2em;
    color: #989898;
    letter-spacing: -0.005em;
    display: flex;
    padding-bottom: 4px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #b3b3b3;
}

#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}



@media only screen and (max-width: 780px) {
    body {
        height: 92%;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #ffffff;
        display: flex;
        padding: 20px 20px;
        justify-content: space-between;
        align-items: center;
      }

    #content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        height: 100%;   
    }

    #contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        align-self: stretch;
    }
}
